*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, #0af, #0f6);
}
/* style the whole grid */
.calculator-grid {
  display: grid;
  /* justify-items: center; */
  justify-content: center;
  /* since I didnt set the value of align-items the item will flex to fill the whole box */
  /* align-items: center; */
  align-content: center;
  height: 100vh;
  /* define the grid templates */
  grid-template-columns: repeat(4, 100px);
  /* set the first row's width to min 120 and max auto since it can grow */
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
/* style the buttons */
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255,255,255,.75);
}
/* add hover effects */
.calculator-grid > button:hover {
  background-color: rgba(255,255,255,.9);
}
.span-two {
  grid-column: span 2;
}
/* style the result div element */
.output {
  /* from first clomun to last  */
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  /* Allows unbreakable words to be broken */
  word-wrap: break-word;
  /* Break words at any character */
  word-break: break-all;
}
.output .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}
.output .current-operand {
  font-size: 2.5rem;
  color: white;
}
